body {
	background-color: lightgray;
	font-family: Helvetica, Arial, sans-serif;
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 0;
	margin-bottom: 0;
}

ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li.menu {
	float: left;
}

li.menu a {
	display: inline-block;
    color: lightgray;
	padding: 14px;
    text-align: center;
    text-decoration: none;
}

li.menu a:hover {
    color: white;
}

.header, .footer {
    background-color: #434343;
    color: white;
    padding: 20px;
}

.content {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: white;
}

li.activemenu {
	background-color: gray;
	color: white;
}

li.activemenu a {
	color: white;
}