body {
	background-color: #e7e7fa;
	font-family: Helvetica, Arial, sans-serif;
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 0;
	margin-bottom: 0;
}

ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #66669f;
}

li.menu {
	float: left;
}

li.menu a {
	display: inline-block;
    color: lightgray;
	padding: 14px;
    text-align: center;
    text-decoration: none;
}

li.menu a:hover {
    color: white;
}

.header, .footer {
    background-color: #c8c8fa;
    color: white;
    padding: 20px;
}

.content {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: white;
}

li.activemenu {
	background-color: #a4a4ff;
	color: white;
}

li.activemenu a {
	color: white;
}
